@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #227b86; /* starmade-accent */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a96a5; /* A slightly lighter accent color */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #227b86 rgba(0, 0, 0, 0.2); /* thumb track */
}
